@import url(./_first-name/popup__input_first-name.css);
@import url(./_position/popup__input_position.css);
.popup__input {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
    width: 358px;
    margin-left: 36px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:nth-of-type(2n) {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .popup__input {
        margin: auto;
        margin-top: 54px;
        margin-left: 10px;
        width: 90%;
    }
}

.popup__input:focus {
    outline: none;
}