.item-template__delete-button {
    margin: 0;
    padding: 0;
    background: none;
    height: 19.3px;
    width: 18px;
    border: none;
    position: absolute;
    right: 15px;
    top: 18px;
    z-index: 1;
}

.item-template__delete-button:hover {
    opacity: 0.6;
}