@import url(./__avatar/profile__avatar.css);
@import url(./__data/profile__data.css);
@import url(./__First-Name/profile__First-Name.css);
@import url(./__position/profile__position.css);
@import url(./__Edit-button/profile__Edit-button.css);
@import url(./__Add-button/profile__Add-button.css);
@import url(./__info/profile__info.css);
.profile {
    margin: 0 auto;
    padding: 0;
    max-width: calc(100% - 398px);
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

@media (max-width: 1279px) {
    .profile {
        max-width: calc(100% - 300px);
    }
}

@media (max-width: 1023px) {
    .profile {
        max-width: calc(100% - 200px);
    }
}

@media (max-width: 767px) {
    .profile {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        max-width: calc(100% - 96px);
    }
}

@media (max-width: 425px) {
    .profile {
        max-width: calc(100% - 38px);
    }
}