.profile__data {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-top: 18px;
}

@media (max-width: 767px) {
    .profile__data {
        margin: 0 auto;
        position: relative;
    }
}