.popup-new-item__close {
    position: absolute;
    top: -32px;
    right: -32px;
    width: 40.7px;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.popup-new-item__close:hover {
    opacity: 0.6;
    cursor: pointer;
}