 @import url(./__logo/header__logo.css);
 .header {
     margin: 0 auto;
     padding: 0;
     max-width: calc(100% - 398px);
     border-bottom: 1px solid rgba(84, 84, 84, 0.7);
     padding-bottom: 40.6px;
 }
 
 @media (max-width: 1279px) {
     .header {
         max-width: calc(100% - 300px);
         margin-top: 38.6px;
     }
 }
 
 @media (max-width: 1023px) {
     .header {
         max-width: calc(100% - 200px);
         margin-top: 36.6px;
     }
 }
 
 @media (max-width: 767px) {
     .header {
         max-width: calc(100% - 96px);
         margin-top: 34.6px;
     }
 }
 
 @media (max-width: 320px) {
     .header {
         max-width: 100%;
         margin-top: 0px;
     }
 }