.popup__position {
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 36px;
    width: 358px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
}

@media (max-width: 768px) {
    .popup__position {
        margin: auto;
        margin-top: 54px;
        margin-left: 10px;
        width: 90%;
    }
}