.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40.7px;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}