@import url(./_title/popup-new-item__input_title.css);
@import url(./_url/popup-new-item__input_url.css);
.popup-new-item__input {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    width: 358px;
    margin-left: 36px;
    margin-bottom: 30px;
    text-align: left;
}

@media (max-width: 767px) {
    .popup-new-item__input {
        margin: 0;
        margin-left: 20px;
        margin-bottom: 30px;
        width: calc(100% - 40px);
    }
}

.popup-new-item__input:nth-of-type(2n) {
    margin-bottom: 0px;
}