@import url(./__copyright/footer__copyright.css);
.footer {
    margin: 0 auto;
    width: 318px;
    margin-top: 66px;
    margin-bottom: 60px;
    margin-left: 199px;
}

@media (max-width: 1279px) {
    .footer {
        margin-left: 150px;
    }
}

@media (max-width: 1023px) {
    .footer {
        margin-left: 100px;
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .footer {
        margin-top: 58px;
        margin-left: 48px;
        margin-bottom: 40px;
        width: 218px;
    }
}

@media (max-width: 320px) {
    .footer {
        margin: 0 auto;
        width: calc(100% - 38px);
        margin-top: 48px;
        margin-bottom: 36px;
    }
}