.popup-item__image {
    margin: 0;
    padding: 0;
    background-size: contain;
    width: 816px;
    height: 540px;
    max-width: 75vw;
    max-height: 75vh;
}

@media (max-width: 677px) {
    .popup-item__image {
        width: 433px;
        height: 540px;
    }
}

@media (max-width: 425px) {
    .popup-item__image {
        width: 240px;
        height: 299px;
    }
}